package components


templ ImageList(images []string) {
	<div class="image-list sm:grid flex flex-col md:grid-cols-3 sm:grid-cols-2 lg:grid-cols-4 gap-4">
		for _, image := range(images) {
			<img src={ image }/>
		}
	</div>
}
